# ===============================================
#    Android Studio / IntelliJ Ayar Dosyaları
# ===============================================
# Bu dosyalar kişiseldir ve paylaşılmamalıdır.
.idea/
*.iml
.cxx/
local.properties

# ===============================================
#    Gradle Tarafından Oluşturulan Dosyalar
# ===============================================
# Bu klasörler her derlemede yeniden oluşturulur.
.gradle/
build/

# ===============================================
#    Diğer Geliştirme Araçları ve Sistem Dosyaları
# ===============================================
*.apk
*.aab
*.ap_
*.dex
*.class
*.pydevproject
.project
.metadata
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath

# ===============================================
#    İşletim Sistemi Dosyaları
# ===============================================
# MacOS
.DS_Store
# Windows
Thumbs.db